// app global css in SCSS form
@import url('https://fonts.googleapis.com/css?family=Barlow|Playball|Poppins&display=swap');

@font-face {
	font-family: 'signature';
	src: url('../assets/fonts/shopping_script_demo.woff2') format('woff2'),
		url('../assets/fonts/shopping_script_demo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.app-header,
.nav-item {
	height: 60px !important;
}
.nav-item {
	padding: 0;
}

.bg-primary {
	background: $bg-primary !important;
}

.bg-dark-grey {
	background: $dark-grey;
}

.bg-primary-alt {
	background: $bg-primary-alt !important;
}
.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
	color: inherit;
	text-decoration: none;
}

.full-width-adj {
	width: 100% !important;
	margin-left: -80px !important;
}

h1,
.text-h1 {
	font-family: 'Barlow', sans-serif;
}

h2,
.text-h2 {
	font-family: 'Playball', cursive;
	font-size: 30px;
}

h4,
h5 {
	font-family: 'Playball', cursive;
}

.green-text {
	color: #7cb342 !important;
}

.heading {
	font-size: 45px;
	line-height: 1.2;
}

.subheading {
	font-size: 24px;
	line-height: 1.5;
}

.white-text {
	color: #cbccce;
}

.paragraph {
	font-size: 16px;
	line-height: 32px;
}

.weight-bold {
	font-weight: 600;
}

.q-tab__label {
	font-size: 23px;
}

.bg-dark-blue {
	background: #263238;
	color: #cbccce;
}

.q-timeline--loose {
	.q-timeline__subtitle {
		opacity: 1;
		position: relative;
		top: 24px;
		span {
			font-family: Barlow;
			color: $primary;
			font-size: 16px;
			text-transform: capitalize;
		}
	}
	.q-timeline__title {
		line-height: inherit;
		margin-top: -10px;
	}
	.q-timeline__entry--left {
		.card {
			position: relative;
			&::after {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				top: 17px;
				right: -14px;
				border-style: solid;
				border-width: 10.5px 0 10.5px 15px;
				border-color: transparent transparent transparent #0f2027;
			}
		}
	}
	.q-timeline__entry--right {
		.card {
			position: relative;
			&::before {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				top: 17px;
				left: -14px;
				border-style: solid;
				border-width: 10.5px 15px 10.5px 0;
				border-color: transparent #0f2027 transparent transparent;
			}
		}
	}
	.q-timeline__dot {
		margin-top: 7px !important;
		&:before {
			border: 3px solid transparent;
			border-radius: 100%;
			height: 15px;
			width: 15px;
			top: 0;
			left: 0;
			margin-top: 21px;
			transition: background .3s ease-in-out, border .3s ease-in-out;
		}
		&:after {
			width: 3px;
			opacity: .4;
			top: 54px;
			bottom: 0px;
			left: 6px;
		}
	}
}

.q-timeline--dense {
	.q-timeline__subtitle {
		opacity: 1;
		span {
			font-family: Barlow;
			color: $primary;
			font-size: 16px;
			text-transform: capitalize;
		}
	}
	.q-timeline__dot {
		position: absolute;
		top: 56px;
		&:after {
			top: 19px;
			bottom: -60px;
		}
	}

	.card {
		position: relative;
		&::before {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			top: 17px;
			left: -14px;
			border-style: solid;
			border-width: 10.5px 15px 10.5px 0;
			border-color: transparent #0f2027 transparent transparent;
		}
	}
}
